<div>
  <h1 style="text-align: center; color:rgb(30, 30, 126); margin-top:10px; margin-bottom:10px">Welcome to</h1>
  <h1 style="text-align: center; color:rgb(30, 30, 126); margin-top:10px; margin-bottom:10px">Sea 2 Door</h1>
</div>
<div class="media" style="margin-left: auto; margin-bottom: 90px; margin-top: 50px;
    margin-right: auto;
    display: block">
  <span class=" media-center">
    <video class="m-video__video js-video-video" style=" margin-left: auto; 
    margin-right: auto;
    display: block " width="300" autoplay loop muted playsinline>
      <source src="assets/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </span>
  <br />
  <br />
  <span class=" media-center">
    <img src="assets/logo.png" width="300" style=" margin-left: auto; 
    margin-right: auto;
    display: block " class="img-responsive img-fluid rounded ">
  </span>
</div>
