<div *ngIf="!recipt">
  <div class="clearfix mt-5">
    <input class="form-control" type="text" name="search" [(ngModel)]="search" autocomplete="off"
      placeholder="&#61442; Start searching for an order by phone or order number or region fish type order name " />
  </div>
  <div class="row mt-5 jumbotron bg-dark">
    <div class="  col-md-4 mb-3" *ngFor="let order of orders | filter:search">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Order Number: # {{order.number}}</h5>
          <p class="card-text">Name : {{order.name}}</p>
          <p class="card-text">Phone : {{order.phone}}</p>
          <p class="card-text">Floor : {{order.floor}}</p>
          <p class="card-text">Address : {{order.buildingNumber}}</p>
          <p class="card-text">Appartment Number : {{order.appartmentNumber}}</p>
          <p class="card-text">Day : {{order.d}}</p>
          <p class="card-text">Total Price: {{order.total}}</p>
          <td class="text-center text-danger" *ngIf="order.sent">
            <h4><strong>{{order.sender}} sent it&nbsp;</strong></h4>
          </td>
          <button type="button" class="btn btn-success btn-lg btn-block" (click)="user = order; recipt = true;">
            View Receipt&nbsp;&nbsp;&nbsp;
          </button>
        </div>
        <div class="card-footer text-muted">
          Region: {{order.region}}
        </div>
      </div>
    </div>
  </div>
</div>
<!------ Include the above in your HEAD tag ---------->
<div class="container mt-5 center" style="margin-left: auto;
  margin-right: auto;display: block;" *ngIf="recipt" id="pdf">
  <div class="row align-items-center">
    <div class="well col-sm-12 h-100 d-table">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <address><strong>مازال الخير في الدنيا</strong><br /></address>
          <abbr title="Phone">{{user.phone}}</abbr>
          <p><em> رقم الشقة: {{user.appartmentNumber}}</em></p>
          <p><em> الدور : {{user.floor}}</em></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
          <p><em>{{user.data}}</em></p>
          <p><em>Receipt Number : {{user.number}}</em></p>
          <p><em>{{user.name}}</em></p>
          <p><em> العنوان: {{user.buildingNumber}}</em></p>

        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <h1>ريسيت</h1>
        </div>
        <table class=" table table-hover">
          <thead>
            <tr>
              <th>المنتج</th>
              <th>الوزن</th>
              <th class="text-center">السعر</th>
              <th class="text-center">الإجمالي</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fish of user.fishes">
              <td class="col-md-9"><em>{{fish.type}}</em></td>
              <td class="col-md-1" style="text-align: center">
                {{fish.amount}}
              </td>
              <td class="col-md-1 text-center">{{fish.price}}</td>
              <td class="col-md-1 text-center">{{fish.price * fish.amount}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text-right">
                <p>
                  <strong>خدمة التوصيل </strong>
                </p>
              </td>
              <td class="text-center">
                <p>
                  <strong>{{user.transports}}</strong>
                </p>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="text-right">
                <h4><strong>Total:&nbsp;</strong></h4>
              </td>
              <td class="text-center text-danger">
                <h4><strong>{{user.total}}</strong></h4>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-success btn-lg btn-block" (click)="download()">
          PDF&nbsp;&nbsp;&nbsp;
        </button>
        <button type="button" class="btn btn-success btn-lg btn-block" (click)="sendOrder()" *ngIf="!user.sent">
          mark as delivered&nbsp;&nbsp;&nbsp;
        </button>
        <h1 *ngIf="user.sent" style="text-align: center; margin-top:10px; margin-bottom:10px">
          <strong>{{user.sender}} has sent it</strong>
        </h1>
      </div>
    </div>
  </div>
</div>
