<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mazal El Khar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/admins" routerLinkActive="active">Admins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/orders" routerLinkActive="active">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/fishes" routerLinkActive="active">Fishes</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      <h3 class="nav-label-active mr-4" style="color: #fff;" *ngIf="_authService.loggedIn()">
        {{ _authService.name() }}</h3>
      <a class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/registration" routerLinkActive="active">Register
        new
        Admin</a>
      <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="onLogout()">Logout</a>
    </ul>
  </div>
</nav>
