<div class="py-5">
  <h4 id="note" *ngIf="note && !edit && !add;"></h4>

  <div class="row" *ngIf="!edit && !add;">
    <div class="col mt-3 mb-3 ml-9">
      <button class="btn btn-primary btn-block" (click)="edit = true; placeholder = 'عدل';"><span
          class="glyphicon glyphicon-plus">
        </span>تعديل العنوان</button>
    </div>

    <div class="col float-right mt-3 mb-3 mr-50" *ngIf="!send">
      <button class="btn btn-success btn-block" id="sendOrder" (click)="sendOrder();"><span
          class="glyphicon glyphicon-plus">
        </span> ارسال الاوردر</button>
    </div>

  </div>
  <div class="row" *ngIf="sent">
    <div class="col float-right mt-3 mb-3 mr-50">
      <button class="btn btn-danger btn-block" (click)="deleteOrder();"><span class="glyphicon glyphicon-plus">
        </span>الغاء الاوردر</button>
    </div>
  </div>

  <div class="clearfix">
    <input class="form-control" type="text" name="search" [(ngModel)]="search" *ngIf="!edit && !add " autocomplete="off"
      placeholder="&#61442;  ابدا البحث عن طريق النوع او السعر ">
  </div>

  <div class="clearfix" *ngIf="!edit && !add">
    <table class="table mb-5 mt-5">
      <caption>Fishes</caption>
      <thead>
        <tr>
          <th scope="col">النوع</th>
          <th scope="col">السعر</th>
          <th scope="col">الوزن بالكيلو</th>
          <th scope="col">السعر الكلي للطلب</th>
          <th scope="col">الصوره</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fish of fishes | filter:search">
          <td>{{fish.type}} </td>
          <td>{{fish.price}} </td>
          <td>
            <input min="0" class="form-control" type="number" id="{{fish._id}}" value="{{fish.amount}}"
              (change)="updatePrice(fish)">
          </td>
          <td> {{fish.amount * fish.price}} </td>
          <td><img src={{fish.img}} alt={{fish.type}} height=" 60" width="60"></td>
        </tr>
        <tr>
          <td>السعر الكلي لطلب</td>
          <td></td>
          <td></td>
          <td id="total">0</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="add || edit">
    <div class="jumbotron col-md-6 mx-auto bg-dark">
      <div class="jumbotron bg-white">
        <div class="card-header bg-white">
          <h3 class="mb-0">ادخال العنوان</h3>
        </div>
        <div class="card-body bg-white ">
          <form class="form-group" (submit)="onSubmit()" name="orderForm">
            <div class="form-group">
              <label for="editName" id="labelname">الاسم</label>
              <input class="form-control" id="editName" type="text" name="name" [(ngModel)]="name" required
                placeholder="من فضلك {{placeholder}} الاسم" autocomplete="off" />
              <div class="form-alert alert alert-danger" *ngIf="!name">لا يمكن
                طلب اوردر بدون
                الاسم
              </div>
            </div>
            <div class="form-group">
              <label for="editPhone" id="labelphone">رقم الهاتف</label>
              <input class="form-control" id="editPhone" type="text" name="phone" [(ngModel)]="phone" required
                placeholder="من فضلك {{placeholder}} رقم هاتفك" autocomplete="off" />
              <div class="form-alert alert alert-danger" *ngIf="!phone">لا يمكن طلب اوردر بدون
                رقم
                الهاتف
              </div>
            </div>

            <div class="form-group">
              <label for="editRegion" id="labelregion">المنطقة</label>
              <input class="form-control" id="editRegion" type="text" name="region" [(ngModel)]="region" required
                minlength="11" maxlength="11" placeholder="من فضلك {{placeholder}} المنطقة" autocomplete="off" />
              <div class="form-alert alert alert-danger" *ngIf="!region">لا يمكن طلب اوردر
                بدون
                المنطقة
              </div>
            </div>
            <div class="form-group">
              <label for="editBuilding" id="labelbuilding">رقم العماره</label>
              <input class="form-control" id="editBuilding" type="text" name="building" [(ngModel)]="building" required
                placeholder="من فضلك {{placeholder}} رقم العماره" autocomplete="off" />
              <div class="form-alert alert alert-danger" *ngIf="!building">لا يمكن طلب اوردر
                بدون رقم العمارة
              </div>
            </div>
            <div class="form-group">
              <label for="editFloor" id="labelfloor">رقم الدور</label>
              <input class="form-control" id="editFloor" type="text" name="floor" [(ngModel)]="floor" required
                placeholder="من فضلك {{placeholder}} رقم الدور" autocomplete="off" />
              <div class="form-alert alert alert-danger" *ngIf="!floor">لا يمكن طلب اوردر بدون
                رقم
                الدور
              </div>
            </div>
            <div class="form-group">
              <label for="editAppartment" id="labelappartment">رقم الشقة</label>
              <input class="form-control" id="editAppartment" type="text" name="appartment" [(ngModel)]="appartment"
                required placeholder="من فضلك {{placeholder}} رقم الشقة" autocomplete="off" />
              <div class="form-alert alert alert-danger" *ngIf="!appartment">لا يمكن طلب
                اوردر
                بدون رقم
                الشقة
              </div>
            </div>
            <button type="submit" class="btn btn-success float-right"
              [disabled]="!name || !phone || !appartment || !region || !floor || !building">ادخل العنوان</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
