<div class="container">
  <div class="row">

    <div class="col mt-3 mb-3 ml-9">
      <button class="btn btn-success btn-block"
        (click)="add = true; placeholder = 'add'; day = undefined; type = undefined; price = undefined;"><span
          class="glyphicon glyphicon-plus">
        </span>Add
        more Fishes</button>
    </div>
    <div class="col float-right mt-3 mb-3 mr-50">
      <button class="btn btn-danger btn-block" (click)="deleteFishes()"><span class="glyphicon glyphicon-plus">
        </span>Delete
        all fishes</button>
    </div>

  </div>

  <div class="clearfix">
    <input class="form-control" type="text" name="search" [(ngModel)]="search" autocomplete="off"
      placeholder="&#61442;  Start searching for a fish by type or price">
  </div>

  <div class="clearfix">
    <table class="table mb-5 mt-5">
      <caption>Fishes</caption>
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Price</th>
          <th scope="col">Day</th>
          <th scope="col">Picture</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fish of fishes | filter:search">
          <td scope="row">{{fish.type}} </td>
          <td scope="row">{{fish.price}} </td>
          <td scope="row">{{fish.d}} </td>
          <td><img src={{fish.imgUrl}} alt={{fish.type}} width="100"></td>
          <td scope="row">
            <button class="btn btn-primary" (click)="edit = true; editFish(fish);">Edit</button>
          </td>
          <td scope="row">
            <button class="btn btn-danger" (click)="deleteFish(fish);">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form class="form-group" *ngIf="edit || add">

    <div class="form-group" name="form">
      <label for="editType" id="labeltype">Fish Type</label>
      <input class="form-control" id="editType" type="text" name="type" [(ngModel)]="type" required
        placeholder="{{placeholder}} Fish type" autocomplete="off" />
      <div class="form-alert alert alert-danger" *ngIf="!type">
        Please enter fish type
      </div>
    </div>
    <div class="form-group">
      <label for="editPrice" id="labelprice">Fish Price</label>
      <input class="form-control" id="editPrice" type="text" name="price" [(ngModel)]="price" required
        placeholder="{{placeholder}} Fish Price" autocomplete="off" />
      <div class="form-alert alert alert-danger" *ngIf="!price">
        Please enter fish price
      </div>
    </div>
    <div class="form-group">
      <label for="editDay" id="labelday">Fish Day</label>
      <select class="form-control" id="day" name="day" (change)="setDay()" id="list">
        <option value="">Choose a day</option>
        <option *ngFor="let r of daysData">
          {{r.fromDay}}</option>
      </select>
      <div class="form-alert alert alert-danger" *ngIf="!day">
        Please enter fish day
      </div>
    </div>
    <div class="custom-file mb-3">
      <label for="inputGroupFile01" id="labeimage">Fish Image</label>
      <input type="file" class="custom-file-input" id="inputGroupFile01" name="image"
        aria-describedby="inputGroupFileAddon01" (change)="selectImage($event)">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
    <button class="btn btn-primary mr-4" (click)="editSaveFish(); edit = false; add = false;"
      [disabled]="!type || !price">
      <i class="glyphicon glyphicon-pencil">
      </i>Save
      change </button>
    <button class="btn btn-primary" (click)="edit = false; add = false;">
      Cancel</button>
  </form>
