<div class="center">
  <div class="clearfix">
    <table class="table mb-5 mt-5">
      <caption>Admins</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Picture</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of admins">
          <th scope="row">{{ admin.name }}</th>
          <th scope="row">{{ admin.email }}</th>
          <td>{{ admin.phone }}</td>
          <td><img src="{{admin.imageUrl}}" width="100"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" *ngIf="!edit" (click)="edit = true;">Edit Your Information</button>

  <form class="form-group" *ngIf="edit">
    <div class="form-group">
      <label for="editName" id="labelname">Admin Name</label>
      <input class="form-control" id="editName" type="text" name="name" [(ngModel)]="name" placeholder="Edit Admin Name"
        autocomplete="off" />
    </div>

    <div class="form-group">
      <label for="editEmail" id="labelemail">Admin Email</label>
      <input class="form-control" id="editEmail" type="text" name="email" [(ngModel)]="email"
        placeholder="Edit Admin Email" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="editPhone">Admin Phone</label>
      <input class="form-control" id="editPhone" type="text" name="Phone" [(ngModel)]="phone"
        placeholder="Edit Student Phone" required="required" minlength="11" maxlength="11" />
    </div>
    <button class="btn btn-primary mr-4" (click)="editUser(); edit = false;"> <i class="glyphicon glyphicon-pencil">
      </i>Save
      change </button>
    <button class="btn btn-primary" (click)="edit = false">Cancel</button>
  </form>
